# write a python program to convert a string in lower case

In [1]:
x=input()
x.lower()

KUNSOTH BHARATH

'kunsoth bharath'

# write a python program to convert only odd indexed charaters to lower case
Eg PYTHON

In [23]:
x=input()
result=""
for z in range (len(x)):
    if z%2==0:
        result=result+x[z]
    else:
        result=result+(x[z]).lower()
print(result)

PYTHON
PyThOn

# Write a python program to convert only even indexed characters to lower case

In [28]:
a=input()
b=""
for c in range(len(a)):
    if c%2!=0:
        b=b+a[c]
    else :
        b=b+(a[c]).lower()
print(b)

PYTHON
pYtHoN

# Write a python program to convert only odd indexed characters to upper case
  Ex : python                                                                                                        
  o/p: pYtHoN

In [33]:
a=input()
b=""
for c in range(len(a)):
    if c%2!=0:
        b=b+(a[c]).upper()
    else:
        b=b+a[c]
print(b)

python
pYtHoN

# Write a python program to convert only even indexed characters to upper case 
ex: python                                                                                                         
o/p : PyThOn

In [37]:
x=input()
y=""
for z in range(len(x)):
    if z%2!=0:
        y=y+x[z]
    else:
        y=y+(x[z]).upper()
print(y)

python
PyThOn

# Write a python program where you have different variable which contains your name,sex,age, phone no ,fathers name and mothers name.And by using this variable create a variable named bio-data where you will use all this variable
Ex:-print(bio-data)

In [38]:
name=input()
age=int(input())
ph=int(input())
father=input()
mother=input()
bio_data="my name is {}, my age is {}, my phone no is {},my father is{}, and my mother name {} "
bio_data.format(name,age,ph,father,mother)

Bharath Kunsoth
26
9010431027
Sakriya
Anuradha

'my name is Bharath Kunsoth, my age is 26, my phone no is 9010431027,my father isSakriya, and my mother name Anuradha '

# Write a python program to count how many times “@” occurred

In [42]:
text="python@java@c+@Bharath@Innomatics@"
text.count("@")

5

# Write a python program to get only names from the string 
 input: "name1.@gmail.com,name2.@gmail.com,name3.@gmail.com",                                                                            
 o/p - name1,name2,name3

In [62]:
a="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
b=a.split(".@gmail.com")
"".join(b)

'name1,name2,name3'

# Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String
Ex:- "mynameissan"                                                                                                            
op:   “mei”

In [54]:
name="mynameissan"
name[4:7]

'mei'

#  Write a python program to insert a string2 in the middle of  string2
 string1 : "myn"                                                                                                               
 string2 : "sa"                                                                                                                 
 o/p - "msayn"

In [57]:
name1="myn"
name2="sa"

In [66]:
x=(name1[0])
z=(name1[1: ])
print(x+name2+z)

msayn

# Write a program to remove vowels from the entire alphabets
ex : "abcdefghijklmnopqrstuvwxyz"

In [8]:
v1 = "abcdefghijklmnopqrstuvwxyz"
vowels=["a","e","i","o","u"]
result=" "
for i in range (len(v1)):
    if v1[i] not in vowels:
        result=result+v1[i]
print(result)

 bcdfghjklmnpqrstvwxyz